@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.7;
}

.page-title {
  font-size: 2em;
  margin: 0;
  line-height: 1.4;
}

.section-title {
  font-size:  1.5em;
}

@media(min-width: $bp-md) {

  body {
    font-size: 17px;
  }

  .page-title {
    font-size: 2.6em;
  }

  .section-title {
    font-size:  2em;
  }
  
}

@media(min-width: $bp-lg) {

  body {
    font-size: 18px;
  }

  .page-title {
    font-size: 3em;
  }
}

@media(min-width: $bp-xl) {
  .page-title {
    font-size: 3em;
  }
}

@media(min-width: $bp-xxl) {
  .page-title {
    font-size: 3em;
  }
}

